# Exploratory data analysis, Julia 0.60

In [1]:
# bring packages into main namespace
using DataFrames, Gadfly, ScikitLearn

WARNING: Method definition count() in module IterTools at deprecated.jl:56 overwritten in module Iterators at deprecated.jl:56.
WARNING: Method definition count(Number) in module IterTools at deprecated.jl:56 overwritten in module Iterators at deprecated.jl:56.
WARNING: Method definition count(Number, Number) in module IterTools at deprecated.jl:56 overwritten in module Iterators at deprecated.jl:56.

In [14]:
tap_raw = readtable("TAP_data.csv");
tap_clean = readtable("TAP_data_numeric.csv");
delete!(tap_clean, :x);

In [15]:
size(tap_raw)

(190964, 17)

In [16]:
size(tap_clean)

(190964, 45)

## Data visualization

In [25]:
# use 10,000 randomly selected rows of data for visuailization purposes. stored in tap_trunc.
n = 10000
tap_trunc = tap_raw[randperm(size(tap_raw,1)),:][1:n,:];
tap_trunc[1:15,:] # view first 15 rows of truncated raw data

15×17 DataFrames.DataFrame
│ Row │ Academic_Year │ Level │ TAP_Level_of_Study │ Sector_Type │
├─────┼───────────────┼───────┼────────────────────┼─────────────┤
│ 1   │ 2008          │ "U"   │ "2 yr Undergrad"   │ "PUBLIC"    │
│ 2   │ 2011          │ "U"   │ "4 yr Undergrad"   │ "PUBLIC"    │
│ 3   │ 2003          │ "U"   │ "4 yr Undergrad"   │ "PUBLIC"    │
│ 4   │ 2009          │ "U"   │ "5 yr Undergrad"   │ "PUBLIC"    │
│ 5   │ 2015          │ "U"   │ "2 yr Undergrad"   │ "PUBLIC"    │
│ 6   │ 2001          │ "U"   │ "2 yr Undergrad"   │ "PRIVATE"   │
│ 7   │ 2009          │ "U"   │ "4 yr Undergrad"   │ "PUBLIC"    │
│ 8   │ 2006          │ "U"   │ "4 yr Undergrad"   │ "PUBLIC"    │
│ 9   │ 2012          │ "U"   │ "2 yr Undergrad"   │ "PRIVATE"   │
│ 10  │ 2009          │ "U"   │ "4 yr Undergrad"   │ "PUBLIC"    │
│ 11  │ 2004          │ "U"   │ "2 yr Undergrad"   │ "PUBLIC"    │
│ 12  │ 2014          │ "U"   │ "2 yr Undergrad"   │ "PUBLIC"    │
│ 13  │ 2001          │ "U"   │ "2 yr Undergrad"   │ "PUBLIC"    │
│ 14  │ 2008          │ "U"   │ "4 yr Undergrad"   │ "PRIVATE"   │
│ 15  │ 2001          │ "U"   │ "4 yr Undergrad"   │ "PRIVATE"   │

│ Row │ TAP_Sector_Group │ Recipient_Age_Group │ TAP_Financial_Status    │
├─────┼──────────────────┼─────────────────────┼─────────────────────────┤
│ 1   │ "2-CUNY CC"      │ "age 36 - 50"       │ "Financial_Independent" │
│ 2   │ "3-SUNY SO"      │ "under age 22"      │ "Financial_Independent" │
│ 3   │ "3-SUNY SO"      │ "age 22 - 25"       │ "Financial_Dependent"   │
│ 4   │ "3-SUNY SO"      │ "age 22 - 25"       │ "Financial_Dependent"   │
│ 5   │ "2-CUNY CC"      │ "over age 50"       │ "Financial_Independent" │
│ 6   │ "5-INDEPENDENT"  │ "age 22 - 25"       │ "Financial_Independent" │
│ 7   │ "3-SUNY SO"      │ "under age 22"      │ "Financial_Independent" │
│ 8   │ "3-SUNY SO"      │ "under age 22"      │ "Financial_Dependent"   │
│ 9   │ "5-INDEPENDENT"  │ "age 26 - 35"       │ "Financial_Independent" │
│ 10  │ "1-CUNY SR"      │ "age 36 - 50"       │ "Financial_Independent" │
│ 11  │ "4-SUNY CC"      │ "age 22 - 25"       │ "Financial_Dependent"   │
│ 12  │ "4-SUNY CC"      │ "age 26 - 35"       │ "Financial_Dependent"   │
│ 13  │ "4-SUNY CC"      │ "age 22 - 25"       │ "Financial_Independent" │
│ 14  │ "6-BUS. DEGREE"  │ "age 26 - 35"       │ "Financial_Independent" │
│ 15  │ "5-INDEPENDENT"  │ "age 22 - 25"       │ "Financial_Dependent"   │

│ Row │ TAP_Award_Schedule      │ TAP_Degree_or_NonDegree │
├─────┼─────────────────────────┼─────────────────────────┤
│ 1   │ "Dependent_Schedule"    │ "Degree"                │
│ 2   │ "Married_No_Dependents" │ "Degree"                │
│ 3   │ "Dependent_Schedule"    │ "Degree"                │
│ 4   │ "Dependent_Schedule"    │ "Degree"                │
│ 5   │ "Married_No_Dependents" │ "Degree"                │
│ 6   │ "Dependent_Schedule"    │ "Degree"                │
│ 7   │ "Independent_Schedule"  │ "Degree"                │
│ 8   │ "Dependent_Schedule"    │ "Degree"                │
│ 9   │ "Dependent_Schedule"    │ "Degree"                │
│ 10  │ "Independent_Schedule"  │ "Degree"                │
│ 11  │ "Dependent_Schedule"    │ "Degree"                │
│ 12  │ "Dependent_Schedule"    │ "Degree"                │
│ 13  │ "Dependent_Schedule"    │ "Degree"                │
│ 14  │ "Dependent_Schedule"    │ "Degree"                │
│ 15  │ "Dependent_Schedule"    │ "Degree"                │

│ Row │ TAP_Schedule_Letter │ Income_by_1_000_Range │ Income_by_5_000_Range │
├─────┼─────────────────────┼───────────────────────┼───────────────────────┤
│ 1   │ "A"                 │ "\$18,001 to \$19,000"  │ "\$15,001 to \$20,000"  │
│ 2   │ "C"                 │ "\$15,001 to \$16,000"  │ "\$15,001 to \$20,000"  │
│ 3   │ "D"                 │ "\$48,001 to \$49,000"  │ "\$45,001 to \$50,000"  │
│ 4   │ "E"                 │ "\$ 1,001 to \$ 2,000"  │ "\$     1 to \$ 5,000"  │
│ 5   │ "C"                 │ "\$0"                  │ "\$0"                  │
│ 6   │ "D"                 │ "\$11,001 to \$12,000"  │ "\$10,001 to \$15,000"  │
│ 7   │ "M"                 │ "\$ 1,001 to \$ 2,000"  │ "\$     1 to \$ 5,000"  │
│ 8   │ "E"                 │ "\$ 3,001 to \$ 4,000"  │ "\$     1 to \$ 5,000"  │
│ 9   │ "E"                 │ "\$45,001 to \$46,000"  │ "\$45,001 to \$50,000"  │
│ 10  │ "L"                 │ "\$0"                  │ "\$0"                  │
│ 11  │ "D"                 │ "\$63,001 to \$64,000"  │ "\$60,001 to \$65,000"  │
│ 12  │ "E"                 │ "\$28,001 to \$29,000"  │ "\$25,001 to \$30,000"  │
│ 13  │ "D"                 │ "\$32,001 to \$33,000"  │ "\$30,001 to \$35,000"  │
│ 14  │ "E"                 │ "\$10,001 to \$11,000"  │ "\$10,001 to \$15,000"  │
│ 15  │ "D"                 │ "\$56,001 to \$57,000"  │ "\$55,001 to \$60,000"  │

│ Row │ Income_by_10_000_Range │ TAP_Recipient_Headcount │ TAP_Recipient_FTEs │
├─────┼────────────────────────┼─────────────────────────┼────────────────────┤
│ 1   │ "\$10,001 to \$20,000"   │ 3                       │ 1.5                │
│ 2   │ "\$10,001 to \$20,000"   │ 1                       │ 0.5                │
│ 3   │ "\$40,001 to \$50,000"   │ 1                       │ 1.0                │
│ 4   │ "\$     0 to \$10,000"   │ 9                       │ 7.25               │
│ 5   │ "\$     0 to \$10,000"   │ 9                       │ 7.01               │
│ 6   │ "\$10,001 to \$20,000"   │ 2                       │ 1.0                │
│ 7   │ "\$     0 to \$10,000"   │ 26                      │ 25.0               │
│ 8   │ "\$     0 to \$10,000"   │ 37                      │ 31.5               │
│ 9   │ "\$40,001 to \$50,000"   │ 3                       │ 2.83               │
│ 10  │ "\$     0 to \$10,000"   │ 11                      │ 7.25               │
│ 11  │ "\$60,001 to \$70,000"   │ 3                       │ 1.5                │
│ 12  │ "\$20,001 to \$30,000"   │ 10                      │ 7.5                │
│ 13  │ "\$30,001 to \$40,000"   │ 5                       │ 3.0                │
│ 14  │ "\$10,001 to \$20,000"   │ 12                      │ 9.16               │
│ 15  │ "\$50,001 to \$60,000"   │ 20                      │ 15.73              │

│ Row │ TAP_Recipient_Dollars │ Award_per_FTE │
├─────┼───────────────────────┼───────────────┤
│ 1   │ "\$2,412.00 "          │ " \$1,608.00 " │
│ 2   │ "\$1,099.00 "          │ " \$2,198.00 " │
│ 3   │ "\$500.00"             │ "\$500.00"     │
│ 4   │ "\$35,485.05 "         │ " \$4,894.49 " │
│ 5   │ "\$20,965.86 "         │ " \$2,990.85 " │
│ 6   │ "\$3,780.00 "          │ " \$3,780.00 " │
│ 7   │ "\$74,275.00 "         │ " \$2,971.00 " │
│ 8   │ "\$136,562.50 "        │ " \$4,335.32 " │
│ 9   │ "\$1,663.00 "          │ "\$587.63"     │
│ 10  │ "\$16,852.25 "         │ " \$2,324.45 " │
│ 11  │ "\$750.00"             │ "\$500.00"     │
│ 12  │ "\$14,505.00 "         │ " \$1,934.00 " │
│ 13  │ "\$1,275.00 "          │ "\$425.00"     │
│ 14  │ "\$42,946.16 "         │ " \$4,688.45 " │
│ 15  │ "\$6,693.77 "          │ "\$425.54"     │