# Exploratory Data Analysis and Data Cleaning, Python 3

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [34]:
# import data
tap = pd.read_csv("TAP_data.csv")
print(tap.shape)
nrows = tap.shape[0]
ncols = tap.shape[1]

(190964, 17)

From the above output, our dataset has 190,964 examples across 17 features.

In [35]:
tap.head()

,Academic Year,Level,TAP Level of Study,Sector Type,TAP Sector Group,Recipient Age Group,TAP Financial Status,TAP Award Schedule,TAP Degree or NonDegree,TAP Schedule Letter,"Income by $1,000 Range","Income by $5,000 Range","Income by $10,000 Range",TAP Recipient Headcount,TAP Recipient FTEs,TAP Recipient Dollars,Award per FTE
0,2015,U,4 yr Undergrad,PRIVATE,6-BUS. DEGREE,age 22 - 25,Financial_Dependent,Dependent_Schedule,Degree,E,"$ 1,001 to $ 2,000","$ 1 to $ 5,000","$ 0 to $10,000",23,18.92,"$96,170.20","$5,082.99"
1,2015,U,2 yr Undergrad,PRIVATE,5-INDEPENDENT,age 26 - 35,Financial_Independent,Independent_Schedule,Degree,M,"$ 6,001 to $ 7,000","$ 5,001 to $10,000","$ 0 to $10,000",10,6.20,"$11,802.47","$1,903.62"
2,2015,U,4 yr Undergrad,PRIVATE,6-BUS. DEGREE,age 26 - 35,Financial_Dependent,Dependent_Schedule,Degree,E,"$ 2,001 to $ 3,000","$ 1 to $ 5,000","$ 0 to $10,000",1,0.17,$847.96,"$4,988.00"
3,2015,U,2 yr Undergrad,PRIVATE,5-INDEPENDENT,under age 22,Financial_Dependent,Dependent_Schedule,Degree,E,"$12,001 to $13,000","$10,001 to $15,000","$10,001 to $20,000",12,10.30,"$48,704.45","$4,728.59"
4,2015,U,2 yr Undergrad,PRIVATE,5-INDEPENDENT,age 26 - 35,Financial_Independent,Dependent_Schedule,Degree,E,"$25,001 to $26,000","$25,001 to $30,000","$20,001 to $30,000",2,1.51,"$4,951.94","$3,279.43"

We rename the columns for easier manipulation:

In [36]:
features = list(tap.columns.values)
print(features)

['Academic Year', 'Level', 'TAP Level of Study', 'Sector Type', 'TAP Sector Group', 'Recipient Age Group', 'TAP Financial Status', 'TAP Award Schedule', 'TAP Degree or NonDegree', 'TAP Schedule Letter', 'Income by $1,000 Range', 'Income by $5,000 Range', 'Income by $10,000 Range', 'TAP Recipient  Headcount', 'TAP Recipient FTEs', 'TAP Recipient Dollars', 'Award per FTE']

In [37]:
tap_renamed = tap.rename(columns={'Academic Year': 'year', 'Level': 'undergrad', 'TAP Level of Study' : 'level', 'Sector Type' : 'type', 'TAP Sector Group' : 'group', 'Recipient Age Group' : 'age' , 'TAP Financial Status' : 'dependent', 'TAP Award Schedule' : 'schedule', 'TAP Degree or NonDegree' : 'degree', 'TAP Schedule Letter' : 'schedule letter' , 'Income by $1,000 Range': 'income_1', 'Income by $5,000 Range' : 'income_5', 'Income by $10,000 Range' : 'income_10', 'TAP Recipient  Headcount' : 'headcount', 'TAP Recipient FTEs' : 'fte', 'TAP Recipient Dollars' : 'dollars', 'Award per FTE': 'award_per_fte' })

In [41]:
renamed_features = list(tap_renamed.columns.values)
print(renamed_features)

['year', 'undergrad', 'level', 'type', 'group', 'age', 'dependent', 'schedule', 'degree', 'schedule letter', 'income_1', 'income_5', 'income_10', 'headcount', 'fte', 'dollars', 'award_per_fte']

In [38]:
tap_renamed.head()df = df.rename(columns={'Academic Year': 'year', 'Level': 'undergrad', 'TAP Level of Study' : 'level', 'Sector Type' : 'type', 'TAP Sector Group' : 'group', 'Recipient Age Group' : 'age' , 'TAP Financial Status' : 'dependent, 'TAP Award Schedule' : 'schedule', 'TAP Degree or NonDegree' : 'degree', 'TAP Schedule Letter' : 'schedule letter, 'Income by $1,000 Range': 'income_1', 'Income by $5,000 Range' : 'income_5', 'Income by $10,000 Range' : 'income_10', 'TAP Recipient  Headcount' : 'headcount;, 'TAP Recipient FTEs' : 'fte', 'TAP Recipient Dollars' : 'dollars', 'Award per FTE'	: 'award_per_fte' })

,year,undergrad,level,type,group,age,dependent,schedule,degree,schedule letter,income_1,income_5,income_10,headcount,fte,dollars,award_per_fte
0,2015,U,4 yr Undergrad,PRIVATE,6-BUS. DEGREE,age 22 - 25,Financial_Dependent,Dependent_Schedule,Degree,E,"$ 1,001 to $ 2,000","$ 1 to $ 5,000","$ 0 to $10,000",23,18.92,"$96,170.20","$5,082.99"
1,2015,U,2 yr Undergrad,PRIVATE,5-INDEPENDENT,age 26 - 35,Financial_Independent,Independent_Schedule,Degree,M,"$ 6,001 to $ 7,000","$ 5,001 to $10,000","$ 0 to $10,000",10,6.20,"$11,802.47","$1,903.62"
2,2015,U,4 yr Undergrad,PRIVATE,6-BUS. DEGREE,age 26 - 35,Financial_Dependent,Dependent_Schedule,Degree,E,"$ 2,001 to $ 3,000","$ 1 to $ 5,000","$ 0 to $10,000",1,0.17,$847.96,"$4,988.00"
3,2015,U,2 yr Undergrad,PRIVATE,5-INDEPENDENT,under age 22,Financial_Dependent,Dependent_Schedule,Degree,E,"$12,001 to $13,000","$10,001 to $15,000","$10,001 to $20,000",12,10.30,"$48,704.45","$4,728.59"
4,2015,U,2 yr Undergrad,PRIVATE,5-INDEPENDENT,age 26 - 35,Financial_Independent,Dependent_Schedule,Degree,E,"$25,001 to $26,000","$25,001 to $30,000","$20,001 to $30,000",2,1.51,"$4,951.94","$3,279.43"

## Transforming data

In [52]:
tap_clean = tap_renamed

### Binary feature encoding

We first want to modify the Level feature, which indicates whether the application was from an undergraduate ('U') or graduate ('T'). We set the value to 1 if undergraduate, 0 otherwise.

We do the same for the other binary features:
* sector type: 1 for Private and 0 for Public
* dependent: 1 for Dependent, 0 for Independent
* degree: 1 for Degree, 0 for NonDegree

In [53]:
tap_clean['undergrad'] = tap_clean['undergrad'].apply(lambda x: 1 if x == 'U' else 0)
tap_clean['type'] = tap_clean['type'].apply(lambda x: 1 if x == 'PRIVATE' else 0)
tap_clean['dependent'] = tap_clean['dependent'].apply(lambda x: 1 if x == 'Financial_Dependent' else 0)
tap_clean['degree'] = tap_clean['degree'].apply(lambda x: 1 if x == 'Degree' else 0)

In [54]:
tap_clean.head()

,year,undergrad,level,type,group,age,dependent,schedule,degree,schedule letter,...,income_10,headcount,fte,dollars,award_per_fte,level_2,level_4,level_5,level_g,level_s
0,2015,0,4 yr Undergrad,0,6-BUS. DEGREE,age 22 - 25,0,Dependent_Schedule,0,E,...,"$ 0 to $10,000",23,18.92,"$96,170.20","$5,082.99",0,1,0,0,0
1,2015,0,2 yr Undergrad,0,5-INDEPENDENT,age 26 - 35,0,Independent_Schedule,0,M,...,"$ 0 to $10,000",10,6.20,"$11,802.47","$1,903.62",1,0,0,0,0
2,2015,0,4 yr Undergrad,0,6-BUS. DEGREE,age 26 - 35,0,Dependent_Schedule,0,E,...,"$ 0 to $10,000",1,0.17,$847.96,"$4,988.00",0,1,0,0,0
3,2015,0,2 yr Undergrad,0,5-INDEPENDENT,under age 22,0,Dependent_Schedule,0,E,...,"$10,001 to $20,000",12,10.30,"$48,704.45","$4,728.59",1,0,0,0,0
4,2015,0,2 yr Undergrad,0,5-INDEPENDENT,age 26 - 35,0,Dependent_Schedule,0,E,...,"$20,001 to $30,000",2,1.51,"$4,951.94","$3,279.43",1,0,0,0,0

### Categorial feature transformation via one-hot encoding

**TAP Level of Study**

The TAP Level of Study feature indicates the applicant's current level of academic studies: 2 year undergrad, 4 year undergrad, 5 year undergrad, graduate school, or STAP (Supplemental Tuition Assistance Program), which is a form of authorized aid for remedial courses.

We clean the data via one-hot encoding below.

In [55]:
# clean the level column and transform with one-hot encoding
tap_clean.groupby('level').size()

level
2 yr Undergrad    93450
4 yr Undergrad    80888
5 yr Undergrad    10733
Grad               5690
STAP                203
dtype: int64

In [58]:
# one-hot encode
tap_clean['level_2'] = tap_clean['level'].apply(lambda x: 1 if x == '2 yr Undergrad' else 0) # for 2 year undergrad
tap_clean['level_4'] = tap_clean['level'].apply(lambda x: 1 if x == '4 yr Undergrad' else 0) # for 4 year undergrad
tap_clean['level_5'] = tap_clean['level'].apply(lambda x: 1 if x == '5 yr Undergrad' else 0) # for 5 year undergrad
tap_clean['level_g'] = tap_clean['level'].apply(lambda x: 1 if x == 'Grad' else 0) # for graduate
tap_clean['level_s'] = tap_clean['level'].apply(lambda x: 1 if x == 'STAP' else 0) # for STAP

tap_clean.drop('level', axis=1, inplace=True)

tap_clean

,year,undergrad,type,group,age,dependent,schedule,degree,schedule letter,income_1,...,income_10,headcount,fte,dollars,award_per_fte,level_2,level_4,level_5,level_g,level_s
0,2015,0,0,6-BUS. DEGREE,age 22 - 25,0,Dependent_Schedule,0,E,"$ 1,001 to $ 2,000",...,"$ 0 to $10,000",23,18.92,"$96,170.20","$5,082.99",0,1,0,0,0
1,2015,0,0,5-INDEPENDENT,age 26 - 35,0,Independent_Schedule,0,M,"$ 6,001 to $ 7,000",...,"$ 0 to $10,000",10,6.20,"$11,802.47","$1,903.62",1,0,0,0,0
2,2015,0,0,6-BUS. DEGREE,age 26 - 35,0,Dependent_Schedule,0,E,"$ 2,001 to $ 3,000",...,"$ 0 to $10,000",1,0.17,$847.96,"$4,988.00",0,1,0,0,0
3,2015,0,0,5-INDEPENDENT,under age 22,0,Dependent_Schedule,0,E,"$12,001 to $13,000",...,"$10,001 to $20,000",12,10.30,"$48,704.45","$4,728.59",1,0,0,0,0
4,2015,0,0,5-INDEPENDENT,age 26 - 35,0,Dependent_Schedule,0,E,"$25,001 to $26,000",...,"$20,001 to $30,000",2,1.51,"$4,951.94","$3,279.43",1,0,0,0,0
5,2015,0,0,3-SUNY SO,under age 22,0,Dependent_Schedule,0,E,"$23,001 to $24,000",...,"$20,001 to $30,000",58,48.06,"$167,056.86","$3,476.01",0,1,0,0,0
6,2015,0,0,8-OTHER,age 26 - 35,0,Independent_Schedule,0,M,"$ 1 to $ 1,000",...,"$ 0 to $10,000",1,0.50,"$1,462.50","$2,925.00",1,0,0,0,0
7,2015,0,0,6-BUS. DEGREE,age 22 - 25,0,Dependent_Schedule,0,E,"$ 5,001 to $ 6,000",...,"$ 0 to $10,000",26,23.35,"$118,749.79","$5,085.64",0,1,0,0,0
8,2015,0,0,3-SUNY SO,age 36 - 50,0,Dependent_Schedule,0,E,"$ 2,001 to $ 3,000",...,"$ 0 to $10,000",14,11.01,"$56,055.55","$5,091.33",0,1,0,0,0
9,2015,0,0,5-INDEPENDENT,over age 50,0,Dependent_Schedule,0,E,"$65,001 to $66,000",...,"$60,001 to $70,000",1,1.01,$502.58,$497.60,1,0,0,0,0
10,2015,0,0,7-BUS. NON-DEG,age 22 - 25,0,Dependent_Schedule,0,E,"$ 3,001 to $ 4,000",...,"$ 0 to $10,000",6,6.07,"$24,045.84","$3,961.42",1,0,0,0,0
11,2015,0,0,4-SUNY CC,age 36 - 50,0,Dependent_Schedule,0,E,"$13,001 to $14,000",...,"$10,001 to $20,000",28,20.28,"$74,048.60","$3,651.31",1,0,0,0,0
12,2015,0,0,6-BUS. DEGREE,age 26 - 35,0,Dependent_Schedule,0,E,"$45,001 to $46,000",...,"$40,001 to $50,000",1,0.50,$384.22,$768.44,0,1,0,0,0
13,2015,0,0,6-BUS. DEGREE,age 36 - 50,0,Dependent_Schedule,0,E,"$54,001 to $55,000",...,"$50,001 to $60,000",2,1.00,$502.24,$502.24,1,0,0,0,0
14,2015,0,0,3-SUNY SO,under age 22,0,Dependent_Schedule,0,E,"$23,001 to $24,000",...,"$20,001 to $30,000",600,545.68,"$1,897,822.12","$3,477.90",0,1,0,0,0
15,2015,0,0,5-INDEPENDENT,age 22 - 25,0,Married_No_Dependents,0,C,$0,...,"$ 0 to $10,000",8,4.69,"$14,139.30","$3,014.78",1,0,0,0,0
16,2015,0,0,8-OTHER,age 36 - 50,0,Independent_Schedule,0,M,$0,...,"$ 0 to $10,000",2,1.50,"$4,537.50","$3,025.00",1,0,0,0,0
17,2015,0,0,4-SUNY CC,under age 22,0,Dependent_Schedule,0,E,"$ 1 to $ 1,000",...,"$ 0 to $10,000",14,12.27,"$62,133.81","$5,063.88",0,1,0,0,0
18,2015,0,0,6-BUS. DEGREE,age 26 - 35,0,Dependent_Schedule,0,E,"$ 7,001 to $ 8,000",...,"$ 0 to $10,000",2,2.01,"$10,109.64","$5,029.67",0,1,0,0,0
19,2015,0,0,1-CUNY SR,age 36 - 50,0,Dependent_Schedule,0,E,"$ 2,001 to $ 3,000",...,"$ 0 to $10,000",12,8.30,"$42,353.72","$5,102.86",0,1,0,0,0
20,2015,0,0,6-BUS. DEGREE,age 22 - 25,0,Dependent_Schedule,0,E,"$46,001 to $47,000",...,"$40,001 to $50,000",5,5.86,"$4,164.77",$710.71,0,1,0,0,0
21,2015,0,0,4-SUNY CC,under age 22,0,Dependent_Schedule,0,E,"$17,001 to $18,000",...,"$10,001 to $20,000",652,511.55,"$1,691,148.04","$3,305.93",1,0,0,0,0
22,2015,0,0,2-CUNY CC,age 26 - 35,0,Dependent_Schedule,0,E,"$29,001 to $30,000",...,"$20,001 to $30,000",18,11.52,"$27,586.26","$2,394.64",1,0,0,0,0
23,2015,0,0,5-INDEPENDENT,age 22 - 25,0,Dependent_Schedule,0,E,"$76,001 to $77,000",...,"$70,001 to $80,000",1,1.01,$502.58,$497.60,1,0,0,0,0
24,2015,0,0,7-BUS. NON-DEG,under age 22,0,Dependent_Schedule,0,E,"$ 2,001 to $ 3,000",...,"$ 0 to $10,000",6,6.58,"$26,121.37","$3,969.81",1,0,0,0,0
25,2015,0,0,1-CUNY SR,age 26 - 35,0,Dependent_Schedule,0,E,"$40,001 to $41,000",...,"$40,001 to $50,000",1,0.50,$723.57,"$1,447.14",1,0,0,0,0
26,2015,0,0,4-SUNY CC,over age 50,0,Dependent_Schedule,0,A,"$ 3,001 to $ 4,000",...,"$ 0 to $10,000",2,1.00,"$3,695.21","$3,695.21",1,0,0,0,0
27,2015,0,0,2-CUNY CC,under age 22,0,Dependent_Schedule,0,E,"$ 5,001 to $ 6,000",...,"$ 0 to $10,000",707,509.83,"$2,439,922.65","$4,785.76",1,0,0,0,0
28,2015,0,0,5-INDEPENDENT,over age 50,0,Dependent_Schedule,0,A,"$17,001 to $18,000",...,"$10,001 to $20,000",1,0.50,"$1,369.54","$2,739.08",1,0,0,0,0
29,2015,0,0,6-BUS. DEGREE,under age 22,0,Dependent_Schedule,0,E,"$44,001 to $45,000",...,"$40,001 to $50,000",13,13.73,"$13,384.91",$974.87,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190934,2000,0,0,5-INDEPENDENT,age 22 - 25,0,Dependent_Schedule,0,E,"$21,001 to $22,000",...,"$20,001 to $30,000",4,4.00,"$14,313.00","$3,578.25",1,0,0,0,0
190935,2000,0,0,1-CUNY SR,age 26 - 35,0,Dependent_Schedule,0,D,"$ 1 to $ 1,000",...,"$ 0 to $10,000",2,1.00,"$2,890.00","$2,890.00",0,0,1,0,0
190936,2000,0,0,5-INDEPENDENT,age 22 - 25,0,Dependent_Schedule,0,E,"$66,001 to $67,000",...,"$60,001 to $70,000",1,1.00,$325.00,$325.00,1,0,0,0,0
190937,2000,0,0,1-CUNY SR,under age 22,0,Dependent_Schedule,0,D,"$ 1 to $ 1,000",...,"$ 0 to $10,000",1,0.75,"$2,438.75","$3,251.67",0,0,1,0,0
190938,2000,0,0,3-SUNY SO,under age 22,0,Dependent_Schedule,0,D,"$17,001 to $18,000",...,"$10,001 to $20,000",1,0.50,"$1,088.00","$2,176.00",1,0,0,0,0
190939,2000,0,0,1-CUNY SR,age 22 - 25,0,Dependent_Schedule,0,D,"$ 2,001 to $ 3,000",...,"$ 0 to $10,000",2,1.50,"$3,590.00","$2,393.33",0,0,1,0,0
190940,2000,0,0,5-INDEPENDENT,under age 22,0,Dependent_Schedule,0,E,"$67,001 to $68,000",...,"$60,001 to $70,000",8,7.50,"$2,437.50",$325.00,1,0,0,0,0
190941,2000,0,0,1-CUNY SR,age 22 - 25,0,Dependent_Schedule,0,D,"$ 3,001 to $ 4,000",...,"$ 0 to $10,000",7,5.75,"$16,627.00","$2,891.65",0,0,1,0,0
190942,2000,0,0,5-INDEPENDENT,under age 22,0,Dependent_Schedule,0,E,"$22,001 to $23,000",...,"$20,001 to $30,000",6,5.50,"$19,187.50","$3,488.64",1,0,0,0,0
190943,2000,0,0,1-CUNY SR,under age 22,0,Dependent_Schedule,0,D,"$ 3,001 to $ 4,000",...,"$ 0 to $10,000",1,0.50,"$1,445.00","$2,890.00",0,0,1,0,0
190944,2000,0,0,5-INDEPENDENT,under age 22,0,Dependent_Schedule,0,E,"$68,001 to $69,000",...,"$60,001 to $70,000",1,0.50,$162.50,$325.00,1,0,0,0,0
190945,2000,0,0,1-CUNY SR,age 26 - 35,0,Dependent_Schedule,0,D,"$ 4,001 to $ 5,000",...,"$ 0 to $10,000",2,1.00,"$2,890.00","$2,890.00",0,0,1,0,0
190946,2000,0,0,1-CUNY SR,age 22 - 25,0,Dependent_Schedule,0,D,"$35,001 to $36,000",...,"$30,001 to $40,000",6,4.33,"$1,841.67",$425.33,1,0,0,0,0
190947,2000,0,0,1-CUNY SR,age 36 - 50,0,Dependent_Schedule,0,D,"$ 5,001 to $ 6,000",...,"$ 0 to $10,000",2,1.00,"$2,890.00","$2,890.00",0,0,1,0,0
190948,2000,0,0,5-INDEPENDENT,under age 22,0,Dependent_Schedule,0,E,"$69,001 to $70,000",...,"$60,001 to $70,000",6,6.00,"$1,950.00",$325.00,1,0,0,0,0
190949,2000,0,0,1-CUNY SR,age 22 - 25,0,Dependent_Schedule,0,D,"$ 6,001 to $ 7,000",...,"$ 0 to $10,000",2,1.00,"$2,890.00","$2,890.00",0,0,1,0,0
190950,2000,0,0,6-BUS. DEGREE,age 36 - 50,0,Independent_Schedule,0,V,$0,...,"$ 0 to $10,000",1,1.00,$550.00,$550.00,1,0,0,0,0
190951,2000,0,0,3-SUNY SO,age 36 - 50,0,Dependent_Schedule,0,U,"$ 4,001 to $ 5,000",...,"$ 0 to $10,000",2,1.50,$518.50,$345.67,1,0,0,0,0
190952,2000,0,0,1-CUNY SR,age 26 - 35,0,Dependent_Schedule,0,A,"$ 1 to $ 1,000",...,"$ 0 to $10,000",2,1.00,"$3,040.00","$3,040.00",1,0,0,0,0
190953,2000,0,0,1-CUNY SR,age 22 - 25,0,Dependent_Schedule,0,A,"$13,001 to $14,000",...,"$10,001 to $20,000",1,0.50,"$1,189.00","$2,378.00",1,0,0,0,0
190954,2000,0,0,1-CUNY SR,age 22 - 25,0,Dependent_Schedule,0,D,$0,...,"$ 0 to $10,000",172,115.29,"$341,936.87","$2,965.88",1,0,0,0,0
190955,2000,0,0,1-CUNY SR,age 22 - 25,0,Dependent_Schedule,0,D,"$ 5,001 to $ 6,000",...,"$ 0 to $10,000",15,10.25,"$30,382.00","$2,964.10",1,0,0,0,0
190956,2000,0,0,1-CUNY SR,under age 22,0,Dependent_Schedule,0,D,"$16,001 to $17,000",...,"$10,001 to $20,000",42,31.04,"$67,697.74","$2,180.98",1,0,0,0,0
190957,2000,0,0,1-CUNY SR,under age 22,0,Dependent_Schedule,0,D,"$49,001 to $50,000",...,"$40,001 to $50,000",2,1.00,$425.00,$425.00,1,0,0,0,0
190958,2000,0,0,1-CUNY SR,under age 22,0,Dependent_Schedule,0,E,"$50,001 to $51,000",...,"$50,001 to $60,000",17,12.50,"$5,312.50",$425.00,1,0,0,0,0
190959,2000,0,0,1-CUNY SR,age 26 - 35,0,Dependent_Schedule,0,D,"$54,001 to $55,000",...,"$50,001 to $60,000",1,0.75,$318.75,$425.00,1,0,0,0,0
190960,2000,0,0,2-CUNY CC,under age 22,0,Dependent_Schedule,0,E,"$44,001 to $45,000",...,"$40,001 to $50,000",27,21.50,"$9,137.50",$425.00,1,0,0,0,0
190961,2000,0,0,4-SUNY CC,age 26 - 35,0,Dependent_Schedule,0,D,"$33,001 to $34,000",...,"$30,001 to $40,000",2,1.00,$425.00,$425.00,1,0,0,0,0
190962,2000,0,0,8-OTHER,age 26 - 35,0,Dependent_Schedule,0,E,"$24,001 to $25,000",...,"$20,001 to $30,000",1,0.33,"$1,067.33","$3,234.33",1,0,0,0,0
190963,2000,0,0,1-CUNY SR,age 36 - 50,0,Dependent_Schedule,0,A,"$ 5,001 to $ 6,000",...,"$ 0 to $10,000",13,7.67,"$22,170.60","$2,890.56",0,1,0,0,0

**TAP Sector Group**

The TAP Sector Group feature